.heading-bar {
  font-size: 18px;
  padding: 8px 25px;
  background-color: var(--c-base);
  color: var(--c-white);
  line-height: normal;
  p {
    font-weight: 700;
    margin: 0;
    text-align: center;
    span {
      font-weight: 800;
      font-size: 22px;
      text-transform: uppercase;
    }
  }
}
.banner-section {
  .hero-img {
    @include breakpoint(max-md) {
      .img1 {
        display: none;
      }
      .img2 {
        display: block;
      }
    }
    @include breakpoint(md) {
      .img2 {
        display: none;
      }
    }
    img {
      width: 100%;
      @include breakpoint(max-md) {
        object-fit: cover;
      }
    }
  }
}
.hero-bottom-text {
  font-size: 12px;
  padding: 6px 0;
  text-align: center;
  color: #404040;
}

#secure-checkout {
  background-color: var(--bg-light);
  padding-top: 80px;
  text-align: center;
  .secure-checkout-wrapper {
    border: 1px solid #979797;
    display: inline-block;
    padding: 0px 74px 14px;
    max-width: 100%;
    margin-inline: auto;
    text-align: center;
    border-radius: 5px;
    .text {
      transform: translateY(-17px);
      margin: 0;
      margin-bottom: -8px;
      font-size: 20px;
      display: flex;
      justify-content: center;
      gap: 6px;
      align-items: center;
      font-weight: 500;
      background-color: var(--bg-light);
      max-width: fit-content;
      padding-inline: 10px;
      margin-inline: auto;
      img {
        width: 18px;
      }
    }
  }
}

.offer-title {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
  color: #1f8305;
  font-size: 22px;
  font-weight: 700;
  background-color: var(--bg-light);
  line-height: 1.2;
  @include breakpoint(max-md) {
    font-size: 18px;
  }
}
.mobile-hidden {
  @include breakpoint(max-lg) {
    display: none !important;
  }
}
.desktop-hidden {
  @include breakpoint(lg) {
    display: none !important;
  }
}
.scroll-content-wrapper {
  display: flex;
  gap: 10px;
  position: relative;
  z-index: 1;
  margin-bottom: 55px;
  @include breakpoint(max-lg) {
    justify-content: center;
    padding-inline: 20px;
    overflow: hidden;
  }
}
.right-content {
  @include breakpoint(max-lg) {
    flex-grow: 1;
    flex-basis: 100%;
  }
}
.product-wrapper {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 55px;
  max-width: 94.5%;
  margin-left: 35px;
  position: relative;
  padding-bottom: 70px;
  @include breakpoint(max-lg) {
    grid-template-columns: 1fr;
    max-width: 100%;
    margin: 0;
    padding-bottom: 30px;
  }
  &::before {
    position: absolute;
    content: "";
    left: -190px;
    right: -34px;
    top: -60px;
    bottom: 0;
    background-color: var(--bg-light);
    z-index: -3;
    @include breakpoint(max-xxl) {
      right: -24px;
    }
    @include breakpoint(max-xl) {
      right: -13px;
    }
  }
}
.product-card {
  height: fit-content;
  padding: 36px 40px 40px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 3px 9px 2px rgba(0, 0, 0, 0.12);
  position: relative;
  background-color: var(--c-white);
  z-index: 1;
  @include breakpoint(max-xl) {
    padding: 30px 15px;
  }
  @include breakpoint(max-lg) {
    text-align: left;
    padding-top: 25px;
    padding-bottom: 30px;
  }
  &.best-deal-card {
    margin-top: -53px;
    position: relative;
    background-image: linear-gradient(white, white), linear-gradient(180deg, #bd8f2f 0%, #f9f1b2 66%, #bd8f2f 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border: 6px solid transparent;
    @include breakpoint(max-xl) {
      padding-inline: 11px;
    }
    @include breakpoint(max-lg) {
      margin-top: 0;
      .package-img {
        top: 50px;
      }
    }
  }
  &.active {
    background-color: #fffef4;
    &.best-deal-card {
      background: #fffef4;
      border: 0;
      @include breakpoint(max-xl) {
        padding-inline: 17px;
      }
      .best-deal {
        border-radius: 5px 5px 0 0;
        background-color: var(--c-base);
        padding-block: 22px;
        padding-top: 24px;
        margin-bottom: 30px;
        @include breakpoint(max-xl) {
          padding-top: 15px;
          padding-bottom: 15px;
          margin-bottom: 20px;
        }
      }
    }
    &::before {
      opacity: 1;
    }
    .button {
      box-shadow: 0 0 0 5px #c4ffda;
    }
  }
  &::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0px;
    border: 6px solid var(--c-base);
    border-radius: 5px;
    opacity: 0;
    z-index: -1;
  }
  .best-deal {
    background-color: #c49b3f;
    margin-top: -36px;
    margin-left: -40px;
    margin-right: -40px;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 23px;
    line-height: 1.1;
    @include breakpoint(max-xl) {
      margin-top: -30px;
      margin-left: -11px;
      margin-right: -11px;
      padding-top: 5px;
      padding-bottom: 12px;
      margin-bottom: 23px;
    }
    @include breakpoint(max-lg) {
      padding-top: 12px;
      padding-bottom: 12px;
    }
    img {
      max-width: 100px;
    }
    b {
      font-weight: 700;
      color: white;
      font-size: 17px;
      margin-bottom: -3px;
      text-align: left;
    }
  }
  .package-name {
    font-size: 26px;
    line-height: 1;
    font-weight: 700;
    @include breakpoint(max-xl) {
      font-size: 21px;
    }
    @include breakpoint(max-lg) {
      font-size: 17px;
    }
  }
  .package-discount {
    line-height: 1.2;
    font-weight: 700;
    color: var(--c-success);
    margin-top: 3px;
  }
  .package-img {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 191px;
    @include breakpoint(max-xl) {
      height: 130px;
    }
    @include breakpoint(max-lg) {
      position: absolute;
      right: 25px;
      top: 15px;
      height: 115px;
      margin: 0;
    }
  }
  .discount {
    text-decoration: line-through;
    font-weight: 700;
    @include breakpoint(max-lg) {
      font-size: 15px;
      margin-top: 16px;
    }
  }
  .price {
    font-weight: 700;
    font-size: 33px;
    color: var(--c-primary);
    @include breakpoint(max-xl) {
      font-size: 28px;
    }
    @include breakpoint(max-lg) {
      font-size: 26px;
    }
  }
  .package-details {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin-inline: 6px;
    @include breakpoint(max-xxl) {
      font-size: 19px;
    }
    @include breakpoint(max-xl) {
      font-size: 19px;
    }
    @include breakpoint(max-lg) {
      display: none;
    }
    li {
      display: flex;
      align-items: start;
      gap: 8px;
      padding-block: 3px;
      img {
        width: 24px;
      }
    }
  }
  .button {
    display: block;
    margin-top: 36px;
    padding-inline: 6px;
    margin-inline: 6px;
    @include breakpoint(max-xl) {
      margin-top: 20px;
    }
    @include breakpoint(max-lg) {
      display: inline-block;
      font-size: 18px;
      margin-top: 15px;
    }
  }
  .selling-out-area {
    background-color: #fff2e0;
    margin-left: -33px;
    margin-right: -33px;
    margin-bottom: -34px;
    margin-top: 30px;
    padding: 15px 36px;
    border-radius: 0 0 5px 5px;
    @include breakpoint(max-xl) {
      margin-bottom: -24px;
      margin-left: -8px;
      margin-right: -8px;
      padding: 10px;
    }
    @include breakpoint(max-lg) {
      padding: 15px;
    }
    @include breakpoint(max-lg) {
      margin-top: 25px;
      padding-top: 0px;
    }
    .selling-out {
      font-size: 18px;
      font-weight: 700;
      color: #ed5214;
      @include breakpoint(max-lg) {
        font-size: 17px;
      }
      img {
        width: auto 40px;
      }
    }
    .text {
      font-style: italic;
      font-weight: 600;
      line-height: 1.15;
      @include breakpoint(max-lg) {
      }
    }
  }
}
.scroll-tabs-two {
  position: sticky;
  top: 0;
  background-color: #eeeeee;
  padding: 15px 10px;
  z-index: 4;
  @include breakpoint(max-sm) {
    padding-bottom: 10px;
  }
  .line {
    left: 51%;
    transform: translateX(-50%);
    width: 85%;
    height: 3px;
    background-color: var(--c-primary);
    position: absolute;
    top: 48px;
    z-index: -1;
    @include breakpoint(max-sm) {
      top: 31px;
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    li {
      width: 12%;
      text-align: center;
      background-color: #eeeeee;
      position: relative;
      transition: all .3s linear;
      &:not(:last-child) {
        &::before {
          position: absolute;
          content: "";
          width: 100px;
          height: 3px;
          left: 100%;
          top: 16px;
          background-color: #d8d8d8;
          transition: all .3s linear;
          @include breakpoint(sm) {
            top: 33px;
          }
        }
      }
      a {
        display: flex;
        flex-direction: column;
        gap: 6px;
        align-items: center;
      }
      &.active {
        &::before {
          background-color: transparent;
        }
        .number {
          display: none;
        }
        .icon {
          background-color: var(--c-primary);
        }
        img {
          display: block;
        }
        b {
          color: inherit;
        }
      }
      .icon {
        width: 66px;
        height: 66px;
        background-color: #d8d8d8;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        @include breakpoint(max-sm) {
          width: 34px;
          height: 34px;
        }
      }
      img {
        display: none;
        @include breakpoint(max-sm) {
          max-width: 15px;
        }
      }
      .number {
        // display: none;
        font-size: 24px;
        font-weight: 700;
        color: white;
        @include breakpoint(max-sm) {
          font-size: 14px;
        }
      }
      b {
        line-height: 1.1;
        color: #d8d8d8;
        @include breakpoint(max-sm) {
          font-size: 14px;
        }
      }
    }
  }
}
.scroll-tabs {
  margin-left: 35px;
  margin-top: 90px;
  @include breakpoint(max-xl) {
    margin-left: 20px;
  }
  .line {
    width: 5px;
    height: 88%;
    background-color: var(--c-primary);
    margin-inline: auto;
    z-index: -2;
    position: relative;
  }
  ul {
    li {
      padding-block: 25px;
      a {
        text-align: center;
        font-size: 24px;
        line-height: 1.1;
        display: block;
        @include breakpoint(max-xl) {
          font-size: 20px;
        }
        img {
          background-color: var(--c-primary);
          width: 66px;
          height: 65px;
          border-radius: 50%;
          padding: 15px;
          margin-bottom: 5px;
          object-fit: contain;
        }
        b {
          display: block;
        }
      }
    }
  }
  .shipping-info {
    position: absolute;
    width: 200px;
    text-align: center;
    top: 900px;
    left: -10px;
    background-color: white;
    @include breakpoint(max-xl) {
      left: -35px;
      top: 780px;
      z-index: -1;
    }
  }
  .payment {
    position: absolute;
    width: 200px;
    text-align: center;
    top: 1635px;
    left: -10px;
    background-color: white;
    @include breakpoint(max-xl) {
      left: -35px;
      top: 1515px;
      z-index: -1;
    }
  }
  .order {
    position: absolute;
    width: 200px;
    text-align: center;
    top: 2150px;
    left: -10px;
    background-color: white;
    @include breakpoint(max-xl) {
      left: -35px;
      top: 2025px;
      z-index: -1;
    }
  }
}

.form-area {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
  margin-top: 30px;
  @include breakpoint(max-xl) {
    padding-left: 20px;
  }
  @include breakpoint(max-lg) {
    width: 100%;
  }
  > * {
    flex-grow: 1;
  }

  .left-form {
    max-width: 412px;
    @include breakpoint(max-lg) {
      max-width: 100%;
    }
    .title {
      font-size: 31px;
      font-weight: 700;
      @include breakpoint(max-lg) {
        font-size: 20px;
        letter-spacing: 0.5px;
      }
    }
    .subtitle {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 45px;
      @include breakpoint(max-lg) {
        font-size: 15px;
      }
    }
  }

  .summery-area {
    position: sticky;
    top: 0;
    margin-top: 70px;
    max-width: 445px;
    border-radius: 15px;
    background-image: linear-gradient(white, white), linear-gradient(180deg, #bd8f2f 0%, #f9f1b2 66%, #bd8f2f 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border: 3px solid transparent;
    padding: 20px 15px;
    height: 100%;
    box-shadow: 4px 5px 9px 0 rgba(0, 0, 0, 0.31);
    @include breakpoint(max-lg) {
      height: auto;
      max-width: 100%;
      width: 100%;
      border: 0;
      box-shadow: none;
      padding: 0;
      margin-top: 40px;
    }
    .title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .product-item {
      display: flex;
      justify-content: space-between;
      .left {
        display: flex;
        align-items: center;
        gap: 12px;
        .title {
          font-weight: 700;
          font-size: 16px;
          margin-bottom: 0;
          line-height: 1.25;
        }
        .edit {
          font-size: 14px;
          color: #979797;
          text-decoration: underline;
          margin-top: 10px;
        }
        img {
          height: 65px;
        }
      }
      .price {
        margin-top: 8px;
      }
    }
    .summery {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 20px 15px;
      background-color: var(--bg-light);
      margin-top: 25px;
      margin-bottom: 25px;
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .discount {
          color: var(--c-danger);
        }
        .info {
          font-size: 10px;
        }
      }
    }
    .gurantee-wrapper {
      font-size: 12px;
      display: flex;
      align-items: center;
      gap: 15px;
      padding-left: 15px;
      @include breakpoint(max-lg) {
        padding-left: 0;
      }
      img {
        max-width: 111px;
        @include breakpoint(max-lg) {
          max-width: 94px;
          margin-left: -10px;
        }
      }
    }
  }
}
.payment-form {
  margin-top: 65px;
  @include breakpoint(max-lg) {
    margin-top: 40px;
  }
  .title {
    margin-bottom: 30px;
    line-height: 1;
    @include breakpoint(max-lg) {
      margin-bottom: 20px;
    }
  }
  .or-pay-with {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    margin-top: 32px;
    margin-bottom: 25px;
    position: relative;
    z-index: 1;
    span {
      background-color: var(--c-white);
      padding-inline: 6px;
    }
    &::before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      height: 1px;
      top: 49%;
      border-top: 1px solid #ddd;
      z-index: -1;
    }
  }
  .gurantee-checkout {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    margin-top: 32px;
    margin-bottom: 25px;
    position: relative;
    z-index: 1;
    span {
      background-color: var(--c-white);
      padding-inline: 6px;
      span {
        color: #3999de;
      }
    }
    &::before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      height: 1px;
      top: 49%;
      border-top: 1px solid #3999de;
      z-index: -1;
    }
  }
  .cards {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .expiration-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    .two-col {
      flex-grow: 1;
    }
  }
  .button {
    margin-top: 30px;
    border-bottom: 2px solid #116e35;
    padding-inline: 5px;
    display: block;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 10px;
  }
  .text-center {
    margin-inline: auto;
    text-align: center;
  }
}

// loading page
.main-loading-page-wrapper {
  height: 100vh;
  overflow-y: auto;
  background-color: #f4f4f4;
  .bottom-content {
    max-width: 750px;
    margin-inline: auto;
    margin-top: 64px;
    .title {
      font-size: 32px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 15px;
    }
    .subtitle {
      font-size: 32px;
      text-align: center;
      margin-bottom: 35px;
    }
    .content-box {
      padding: 40px 90px 45px;
      border-radius: 20px;
      background-color: white;
    }
    .list-check {
      display: flex;
      flex-direction: column;
      gap: 25px;
      li {
        font-size: 18px;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 10px;
        img {
          width: 24px;
        }
      }
    }
    .side-content {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      .text {
        text-align: center;
        margin-bottom: 15px;
      }
    }
  }
}
.top-logo {
  padding: 15px 0;
  background-color: white;
  text-align: center;
  img {
    max-width: 162px;
  }
}
