.two-col {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr;
}
.email-group {
  position: relative;
  .best-price-logo {
    position: absolute;
    top: -70px;
    right: -20px;
    z-index: 1;
    @include breakpoint(max-lg) {
      max-width: 168px;
      top: -52px;
    }
  }
  .form-input {
    border-width: 2px;
    border-color: #4acaff !important;
  }
}
.form-group {
  margin-bottom: 12px;
  &.required {
    .form-input {
      border-color: var(--c-danger);
      background-color: #f9ecea;
    }
    .error {
      display: block;
    }
  }
  &.cvv {
    .cvv-error {
      display: block;
    }
  }
  &.card {
    .card-error {
      display: block;
    }
  }
  &.zip {
    .card-error {
      display: block;
    }
  }
  .error,
  .card-error,
  .zip-error,
  .cvv-error {
    color: var(--c-danger);
    font-size: 13px;
    display: none;
    margin-top: 3px;
  }
}
.form-input {
  position: relative;
  border: 1px solid #cacaca;
  padding: 0 10px;
  background-color: var(--c-white);
  border-radius: 4px;
  height: 50px;
  .form-label {
    color: #9b9b9b;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s linear;
    user-select: none;
    pointer-events: none;
  }
  img {
    max-width: 14px;
    max-height: 14px;
    object-fit: contain;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  .question-mark {
    cursor: pointer;
  }
}
.form-control {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding-top: 16px;
  font-size: 16px;
  &:valid ~ .form-label,
  &:focus ~ .form-label {
    transform: translateY(-115%);
    font-size: 0.8rem;
  }
}
select {
  @include breakpoint(max-lg) {
    background-image: url("./../images/angle-down.svg");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: right 0rem top 50%;
    -webkit-appearance: none;
  }
}

.question-mark-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.45);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
  &.active {
    visibility: visible;
    opacity: 1;
  }
  .modal-inner {
    padding: 40px 15px 15px;
    max-width: 380px;
    margin: auto;
    background-color: white;
    position: relative;
    .card {
      transform: translate(0);
      position: static !important;
      width: auto !important;
      height: auto !important;
      max-width: fit-content !important;
      max-height: fit-content !important;
    }
    .title {
      text-align: center;
      font-size: 18px !important;
      font-weight: normal !important;
      margin-bottom: 15px !important;
    }
    .close-modal {
      width: 15px !important;
      margin-left: auto;
      position: absolute !important;
      right: 15px;
      top: 20px;
    }
  }
}

#cvv::-webkit-outer-spin-button,
#cvv::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#cvv[type="number"] {
  -moz-appearance: textfield;
}

#aptSuite ~ .form-label {
  transform: translateY(-50%);
  font-size: 16px;
}
#aptSuite:focus ~ .form-label {
  transform: translateY(-115%) !important;
  font-size: 0.8rem !important;
}
.form-group {
  &.has-value {
    .form-label {
      transform: translateY(-115%) !important;
      font-size: 0.8rem !important;
    }
  }
}
